<div class="container pt-5">
  <div class="row">
    <div class="card col-5 bg-warning mr-1">
      <video id="my-video" autoplay muted playsinline></video>
      <div class="card-body">
        <p id="my-id"></p>
      </div>
    </div>
    <div class="card col-6 bg-warning ml-1">
      <video id="their-video" autoplay muted playsinline></video>
      <div class="card-body">
        <p id="my-id"></p>
      </div>
    </div>
  </div>
  <input id="their-id" placeholder="パスワード">
  <button id="make-call" class="btn btn-info">参加</button>
  <button id="hang_up" class="btn btn-info">終了</button>
</div>


<input type="text" id='chat-input'>
<button id='button' class='btn btn-warning'>送信</button>
<div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <ul id='messages' class="list-group list-group-flush">
        <%= render 'message', messages:@messages %>
      </ul>
    </div>
  </div>
</div>