<div class="container pt-5">
  <div class="row">
    <div class="card col-5 bg-warning mr-1">
      <video id="my-video" autoplay muted playsinline></video>
      <div class="card-body">
        <p id="my-id"></p>
      </div>
    </div>
    <div class="card col-6 bg-warning ml-1">
      <video id="their-video" autoplay muted playsinline></video>
      <div class="card-body">
        <p id="my-id"></p>
      </div>
    </div>
  </div>
  <input id="their-id" placeholder="パスワード">
  <button id="make-call" class="btn btn-info">参加</button>
</div>